<form [formGroup]="cuestionarioFomr" (ngSubmit)="analizar()">
    <div class="card" *ngFor=" let pregunta of cuestionario.preguntas; let idx=index ">
        <div *ngIf="!loading && paginaActual == pregunta.nroPagina;">
            <div class="card-header" color="primary ">
                <div class="descripcion ">{{idx+1}}. {{pregunta.descripcion}}</div>
            </div>
            <div class="card-body">
                <ul class="list-group" *ngIf="pregunta.tipoAlternativa==1" [formGroupName]="nombreGrupos[idx]">
                    <li *ngFor="let alternativa of pregunta.alternativas; let aIdx = index ">
                        <input class="form-check-input" type="checkbox" [value]=false [formControlName]="nombreControles[idx][aIdx]" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault"  class="form-control" >
                            <label class="alternativas">{{alternativa}}</label>
                        </label>
                    </li>
                </ul>
                <ul class="list-group" *ngIf="pregunta.tipoAlternativa==2" >
                    <li *ngFor="let alternativa of pregunta.alternativas; let aIdx = index " >  
                        <input class="form-check-input" type="radio"  [formControlName]="nombreControles[idx]"  [name]="nombreControles[idx]" [value]="alternativa" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1"  class="form-control" >
                            <label class="alternativas">{{alternativa}}</label>
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="paginaActual == cuestionario.nroPaginaAsignada">
        <div color="ion-background-color">
            <div class="row text-center ">
                <div class=´col-md-{{colVolver}}´ *ngIf="paginaActual!=1">
                    <button (click)="rergesarCuestionario()" >
                        Volver
                    </button>
                </div>
                <div class=´col-md-{{colSiguiente}}´ *ngIf="paginaActual!=cantidadCuestionarios">
                    <button (click)="pasarCuestionario()" [disabled]="!cuestionarioFomr.valid">
                        Siguiente
                    </button>
                </div>
                <div class=´col-md-{{colFinalizar}}´ *ngIf="paginaActual==cantidadCuestionarios">
                    <button (click)="finalizarCuestionario()" [disabled]="!cuestionarioFomr.valid">
                        Finalizar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>