<div class="contenedor">
    <div class="contenedorTitulo">
        <h2>¿Por que Salutem?</h2>
    </div>
    <div class="col-izq">
        <div class="tema">

            <div class="con-img ">
                <img src="assets/images/manos.png" class="img">
            </div>


            <div class="desc">
                <h4>Atencion de Calidad </h4>
                <p>Todos nuestros medicos,enfermeras y personal de apoyo cuentan con una gran capacidad en la atencion al cliente ademas de estar calificados para las tareas que realizan .Conocemos muy bien el trato que prefieren nuestros clientes ademas
                    el tipo de atencion que merecen.</p>
            </div>
        </div>
        <div class="tema">
            <div class="con-img">
                <img src="assets/images/sitio-web.png" class="img">
            </div>
            <div class="desc">
                <h4>Lucha contra el SARS-CoV2</h4>
                <p>Nuestros médicos siempre se mantienen a la vanguardia de las nuevas investigaciones y tratamientos asi como tambien brindando informacion continua y fidedigna hacia nuestros pacientes y publico en general.Colaborando asi en la prevencion
                    y tratamiento de esta nueva enfermedad
                </p>
            </div>
        </div>
    </div>
    <div class="col-der">
        <div class="tema">
            <div class="con-img">
                <img src="assets/images/manocruz.png" class="img">
            </div>
            <div class="desc">
                <h4>Seguridad ante todo</h4>
                <p>En la pandemia que vivimos actualmente tenemos que estar siempre al cuidado de la salud de quienes nos rodean y de nosotros mismos debido a que el virus SARS-CoV2 tiene un grado muy alto de transmisión. Debido a ello y alto grado de contagios.Se
                    desarrollo un triaje digital.
                </p>
            </div>
        </div>
        <div class="tema">
            <div class="con-img">
                <img src="assets/images/app.png" class="img">
            </div>
            <div class="desc">
                <h4>Triaje web-movil </h4>
                <p>Nuestro triaje digital basado en el conocimiento de expertos y con ayuda de la IA permitirá a la persona identificar si contrajo el virus de una forma segura y en caso de que haya contraído el virus indicar rápidamente las medidas de control
                    necesarias dependiendo del estado en en que se encuentre el usuario.</p>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <h2>¿Todavía no está convencido? ¡Pruebalo ahora!</h2>
    </div>
    <div class="row text-center">
        <div class="col-md-6">
            <button type="button" class="btn btn-success" routerLink="/download">Descargar app</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary" routerLink="/triaje">Realizar triaje ahora</button>
        </div>

    </div>
</div>