.contenedor {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #0f0f0f;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #fff;
    margin: 0;
    /*PARA Q NO QUEDE BORDES*/
}

.contenedorTitulo {
    text-align: center;
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
    padding: 30px 0px;
}

.contenedorTitulo h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.col-izq {
    width: 50%;
    float: left;
    background-color: #6A64FF;
    /*#745AF2*/
    font-family: Arial, Helvetica, sans-serif;
}

.col-der {
    width: 50%;
    float: right;
    background-color: #b8aeae;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: white;
}

.tema {
    padding: 20px;
    padding-right: 35px;
    /*padding-left: 20px;
    padding-right: 20px;*/
}

.tema h4 {
    font-size: 20px;
}

.col-izq {
    color: #fff;
    font-size: 14px;
}

.desc {
    padding-left: 100px;
    height: 200px;
}


/***********Unico PROBLEMA NECESITO Q LA ALTURA 
DE LA IMAGEN VARIE CON EL TEXTO*/

.con-img {
    /*padding-top: 100px;*/
    padding-right: 20px;
    width: 80px;
    height: 160%;
    /*esta q ocupad e toda lascol en %*/
    float: left;
}

.img {
    padding-top: 70%;
    max-width: 100%;
}

@media screen and (max-width:900px) {
    .col-izq {
        width: 100%;
    }
    .col-der {
        width: 100%;
    }
}

.row h2 {
    padding: 10px;
    margin-top: 20px;
}


/*.row .button {
    display: inline;
    background-color: #4CAF50;
    
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: left;
    border-radius: 10px;
}*/

.contenedorBotonTitulo {
    text-align: center;
    color: #464646;
    font-size: 2em;
    margin: 0;
}

.contenedorBotonTitulo h2 {
    padding: 15px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row {
    color: white;
}